:root {
	--box-shadow01: 2px 2px 2px var(--col6-darker);
	--box-shadow02: -2px -2px 2px var(--col6-lighter);
	--box-shadow03: 1px 1px 1px var(--col6-darker);
	--box-shadow04: -1px -1px 1px var(--col6-lighter);

	--cardColor0: #000;
	--cardColor1: #000;
	--cardColor2: #000;
	--cardColor3: #000;
	--cardColor4: #000;
	--cardColor5: #000;
	--cardColor6: #000;
	--cardColor7: #000;
	--cardColor8: #000;
	--cardColor9: #000;
	--cardColor10: #000;
	--cardColor11: #000;

	--col4: #ffb703;
	--col5: #fb8500;
	--col6: #4a4d5d;
	--col6-darker: #161720;
	--col6-lighter: #9599b1;
	--col7: #03071e;

	--text-Shadow01: 1px 1px 1px var(--col5);
}

* {
	color: var(--col4);
	font-family:'Gill Sans',  sans-serif;
	margin: 0;
	padding: 0;
	text-shadow: var(--text-Shadow01);
}

body {
	background-color: var(--col7);
	height: 100%;
	min-height: 100%;
	width: 100%;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
	opacity: 0.4;
}

button:hover {
	filter: brightness(90%);
}

header {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  min-height: 500px;
  position: fixed;
  top: 0;
  width: 120px;
}

#gameNavigation {
  min-height: 50%;
  display: block;
  text-align: center;
  justify-content: center;
}

.displayInformationField {
	align-items: center;
  background: var(--col6);
	border-radius: 5px;
	box-shadow: var(--box-shadow01), var(--box-shadow02);
  display: flex;
  flex-flow: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	min-height: 15vh;
	min-width: 30vh;
  margin: 10px;
  max-width: 60vh;
	padding: 10px;
	text-align: center;
}

.gamePanel {
	align-items: center;
	border-radius: 5px;
	box-shadow: var(--box-shadow01), var(--box-shadow02);
	display: flex;
	height: 200px;
	justify-content: space-evenly;
	padding: 15px;
  margin: 15px;
	max-width: 70%;
}

.gameNavigationButton {
	background: var(--col6);
	border-radius: 10px;
	color: var(--col4);
	font-weight: bold;
	font-size: 16px;
	height: 80px;
	margin: 3px;
	text-shadow: var(--text-Shadow01);
	width: 130px;
}

.memoryField {
	align-items: center;
	background: var(--col6);
	border-radius: 5px;
	box-shadow: var(--box-shadow01), var(--box-shadow02);
	display: flex;
	flex-wrap: wrap;
  max-width: 75%;
	min-height: 350px;
	min-width: 800px;
	justify-content: center;
	opacity: 0.95;
	padding: 15px;
}

.memoryField__card {
	cursor: pointer;
	background: url('../files/memoryBackground.jpg') no-repeat fixed center;
	border-radius: 33%;
	box-shadow: var(--box-shadow03), var(--box-shadow04);
	width: 96px;
	height: 96px;
	margin: 5px;
	transition: transform 1s;
}

.memoryField__card:hover {
	filter: brightness(85%);
	transform: rotate3d(0, 0, 1, 360deg);
  transition: 1s;
}

.mainWrapper {
	align-items: center;
  display: flex;
  flex-flow: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
}

.textDisabled {
	text-decoration: line-through
}

/* Hard coded values of collors. Right now 12 pairs is max. */
.card1:active, .card2:active, .active0, .active1 {
  background: var(--cardColor0);
}

.card3:active, .card4:active, .active2, .active3 {
  background: var(--cardColor1);
}

.card5:active, .card6:active, .active4, .active5 {
  background: var(--cardColor2);
}

.card7:active, .card8:active, .active6, .active7 {
  background: var(--cardColor3);
}

.card9:active, .card10:active, .active8, .active9 {
  background: var(--cardColor4);
}

.card11:active, .card12:active, .active10, .active11 {
  background: var(--cardColor5);
}

.card13:active, .card14:active, .active12, .active13 {
	background: var(--cardColor6);
}

.card15:active, .card16:active, .active14, .active15 {
	background: var(--cardColor7);
}

.card17:active, .card18:active, .active16, .active17 {
	background: var(--cardColor8);
}

.card19:active, .card20:active, .active18, .active19 {
	background: var(--cardColor9);
}

.card21:active, .card22:active, .active20, .active21 {
	background: var(--cardColor10);
}

.card23:active, .card24:active, .active22, .active23 {
	background: var(--cardColor11);
}

@media (max-width: 1100px){
	.memoryField {
	max-width: 450px;
	min-height: 500px;
	min-width: 200px;
	}
}
